thead tr th.rotate,
tfoot tr th.rotate {
    height: 200px;
    white-space: nowrap;
}
thead tr th.rotate > div {
    transform: translate(0px, 0px) rotate(270deg);
    width: 40px;
}
tfoot tr th.rotate > div {
    transform: translate(0px, 0px) rotate(90deg);
    width: 40px;
}
thead tr th.rotate > div > span,
tfoot tr th.rotate > div > span {
    padding: 5px 10px;
}

.button-icon{
    font-size: xx-large;
    margin: 10px 0 10px 0;
}

.button-icon-red{
    color: #ff0000;
}

.button-icon-green{
    color: #008000;
}

.bold{
    font-weight: 900;
}


